.sidenav {
    background: transparent;
    margin-top: 48px;

    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
    justify-content: center;

    .menu {
        .item {
            padding: 8px 24px;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;

            .icon {
                margin-right: 1em;
            }

            .label {
                display: none;
                font-size: 1.2em;
                font-weight: 400;
            }

            &:hover {
                .label {
                    display: inline-block;
                }
            }
        }

        .submenu {
            margin-left: 2em;
        }
    }
}
