@use "reset.scss";
@use "colors.scss";
@use "components.scss";
@use "fonts.scss";
@use "layout.scss";
@use "spacing.scss";
@use "typography.scss";

html,
body {
  background-color: light-dark("#eee", "#222");
  color: light-dark("#222", "#eee");
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
