.input {
  font-size: var(--mantine-font-size-sm);
  font-family: var(--mantine-font-family);
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  .text {
  }
  .select {    
  }
  .checkbox {
  }
}
