.mediaManager {
    display: flex;
    flex-direction: column;
    align-items: felx-start;
    justify-items: flex-start;
    padding: 16px 16px;

    .modal {
        min-width: 400px;
    }

    .media {

        .toolbar {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-items: space-between;

            input {
                flex-grow: 1;
            }

            >* {
                margin-left: 4rem;
            }

            .buttonGroup {
                flex-grow: 1;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
            }

            padding: 0 2rem 0 0;
        }


        .grid {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            flex-wrap: wrap;
            gap: 1rem;

            &.col1 {
                >.item {
                    width: 100%;
                }
            }

            &.col2 {
                >.item {
                    width: 50%;
                }
            }

            &.col4 {
                >.item {
                    width: 25%;
                }
            }
        }

        .list {
            width: 100%;
        }
    }

}