.layout {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;

    position: relative;

    .sidenav {
        position: absolute;
        top: 9;
        bottom: 9;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
    }

    .content {
        flex-grow: 1;
    }
}