.mediaDetatilForm {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 0 32px;

    .properties {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;


        .property {
            width: 33%;
        }

        .value {
            font-weight: bold;
        }
    }

    .actions {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 1rem;

        &>* {
            flex: 1;
        }
    }
}